/* GENERAL STYLES */

body{
	background-color: #FFF7F6;
	overflow-x:hidden;
	margin: 0 auto;
	width: 100%;
	position: relative;
}



.master-div{
	width: 95%;
	margin:6em auto 0 auto;
}


p{
	font-family: "Epilogue", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	font-size: 0.9em;
	color: #383838;
}

h1{
	font-family: "Epilogue", sans-serif;
	color: #F86653;
	font-size: 2.4em;
	font-weight: 500;
}

h2{
	font-family: "Space Mono", sans-serif;
	color: #F86653;
	font-size: 1.5em;
	font-weight: 400;
}

h4, .project-name{
	font-family: "Epilogue", sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	color: #383838;	
}



.project-name:link{
	text-decoration: none;
	display: block;
	height: 2.4em;
}

.page-title{
	text-align: center;
}

.mobile-friend{
	text-align: center;
	margin-top: -1em;
}

.mobile-friend-p{
	text-align: center;
	margin-top: -1.5em;
}


.main-logo{
	width: 58%;
	margin: 6em auto 0;
	display: block;
}

.wave{
	display: none;
}

.featured{
	text-align: center;
}

/* NAV STYLES*/

.star{display: none;}

 a.logo{
	height:2em;
	width:2em;
	display:inline-block;
	background-image: url("../img/logo.svg");
	background-repeat:no-repeat;
	cursor: pointer;
	margin-left: 2em;	 
}

a.menu{
	height:2em;
	width:2em;
	display:inline-block;
	background-image: url("../img/hamburger.svg");
	background-repeat:no-repeat;
	cursor: pointer;
	position: absolute;
	right: 2em;
	
}

.navigation{display:none;}

nav{
	background-color: #FFC9C2;
	padding: 1em 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	border-bottom: 2px solid #6A94FF;
}

nav ul{
	padding: 0;
	margin: 0 auto;
	width: 80%;
}

nav ul li{
	list-style-type: none;
	display: block;
	margin: 0;
	text-align: left;
}

nav ul li a{
	font-family: "Space Mono", sans-serif;
	color: #6A94FF;
	text-decoration: none;
	font-size: 1.2em;
	line-height: 2em;
	text-align: center;
	font-weight: 700;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	display: block;
}

/* END OF NAV STYLES */



/* FOOTER STYLES */

footer{
	background-color: #F86653;
	width: 110%;
	padding: 0.3em;
	position: relative;
	bottom: -1em;
	left: -1.3em;
	text-align: center;
}

footer p{
	color: #FFF7F6;
	font-family: "Space Mono", sans-serif;
	font-size: 0.8em;
}

footer img{
	width: 16px;
	vertical-align: middle;
	padding-bottom: 3px;
}

footer a:hover{
	opacity: 0.5;
}

.contact footer{
	position: fixed;
	bottom: 0;
}

.contact footer p{
	margin: 1em auto;
}

/* END OF FOOTER STYLES */
	
/* END OF GENERAL STYLES */


/* HOME STYLES */
.home-header{
	background-color: #FFC9C2;
	width: 100%;
	padding: 5em 0;
	margin: 4em auto 0 auto;
}

.home-header h1{
	width: 70%;
	text-align: center;
	margin: 0 auto;
}

.home-header h2{
	width: 70%;
	text-align: center;
	margin: 0 auto;
	padding-top: 0.8em;
}

.red-heart{
	width: 20px;
	vertical-align: middle;
	margin-top:  -2px;
}

.my-name{
	font-family: "Space Mono", sans-serif;
	color: #6A94FF;
	font-weight: 700;
}

.value-fig p{
	text-align: center;
	width: 75%;
	margin: 0 auto;
}

.value-fig img{
	margin: 0 auto -1em auto;
	width: 40%;
}


.view-more{
	font-family: "Space Mono", sans-serif;
	font-size: 0.8em;
	font-weight: 400;
	text-align: center;
	width: 100%;
	display: block;
}

.view-more:link{
	color: #F86653;
}

.view-more:visited{
	color: #F86653;
}

.view-more:hover{
	color: #6A94FF;
}

.view-more:active{
	color: #FFC9C2;
}

.all-projects{
	margin-top: -1.5em;
}

.more-about{
	margin-top: 1.5em;
}

.home-marquee{
	background-color: #6A94FF;
	color: #FFF7F6;
	padding: 1em;
	font-size: 1.2em;
	font-weight: 500;
	margin-top: 3em;
}

.hide-box{
	display: none;
}

.circle-gif{
	width: 200px;
	margin: 2.5em auto -2em auto;
	display: block;
}

.circle-gif:hover{
	opacity: 0.65;
}

/* END OF HOME STYLES */


/* WORK PAGE STYLES */


.project-type{
	font-family: "Space Mono", sans-serif;
	color: #F86653;
	font-weight: 700;
	font-size: 0.8em;
	margin-left: 1.6em;
	margin-top: -2em;
}

.pro-box{
	border: 2px solid #6A94FF;
	width: 70%;
	margin: 0 auto 3em auto;
}

.pro-img{
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
	height: 18em;
	display: block;
}

.pro-1{
	background-image: url("../img/globowl-lilac.jpg");
}

.pro-2{
	background-image: url("../img/tcaf-blue.jpg");
}

.pro-3{
	background-image: url("../img/nix.png");
}

.pro-4{
	background-image: url("../img/ciyu.jpg");
}

.pro-5{
	background-image: url("../img/wavelength.png");
}

.pro-6{
	background-image: url("../img/afterskool.png");
}

.pro-title{
	border-top: 2px solid #6A94FF;
}

h4, .project-name{
	margin-left: 1em;
	margin-top: 1em;
}

/* END WORK PAGE STYLES */


/* ABOUT STYLES */

.eat p{
	text-align: center;
}

.friends-link:link{
	color: black;
	text-decoration: none;
}

.friends-link:visited{
	color: black;
	text-decoration: none;
}

.friends-link:hover{
	color: #F7734F;
	text-decoration: none;
}

.friends-link:active{
	color: #F7734F;
	opacity: 0.65;
	text-decoration: none;
}

.about-me{
	width: 90%;
	margin: 0 auto;
}

.about-me p, .bio p{
	text-align: left;
}

.bio{
	width: 90%;
	margin: 0 auto 3em auto;
}

.hobbies a:link{
	text-decoration: none;
	color: #F86653;
	font-family: "Space Mono", sans-serif;
	font-weight: 700;
}

.hobbies a:visited{
	text-decoration: none;
	color: #F86653;
	font-family: "Space Mono", sans-serif;
	font-weight: 700;
}

.hobbies a:hover{
	text-decoration: none;
	color: #6A94FF;
}

.hobbies a:active{
	color: #FFC9C2;
}

.community-box{
	width: 90%;
	border: 2px solid #6A94FF;
	margin: 0 auto 3em auto;
}

.community-box h2{
	text-align: center;
	border-bottom: 2px solid #6A94FF;
	padding-bottom: 1em;
}

figcaption{
	font-family: "Epilogue", sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	color: #383838;
	text-align: center;
	line-height: 1.5em;
}

.caption-year{
	font-family: "Space Mono", sans-serif;
	font-weight: 700;
	color: #F86653;
	font-size: 0.8em;
}

figure img{
	width: 70%;
	margin: 0 auto 1em auto;
	display: block;
}

figure p{
	margin-bottom: 3em;
}

/* MARQUEE*/

#marquee{
	overflow: hidden;
	white-space: nowrap;
	width: fit-content;
}

#marquee2{
 	overflow: hidden;
  	position: relative;
	height: 50px;
	margin-top: 1.2em;
}

        #marquee2 h1 {
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            line-height: 50px;
            text-align: center;
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            -moz-animation: scroll-left 2s linear infinite;
            -webkit-animation: scroll-left 2s linear infinite;
            animation: scroll-left 20s linear infinite;
        }
        
        @-moz-keyframes scroll-left {
            0% {
                -moz-transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%);
            }
        }
        
        @-webkit-keyframes scroll-left {
            0% {
                -webkit-transform: translateX(100%);
            }
            100% {
                -webkit-transform: translateX(-100%);
            }
        }
        
        @keyframes scroll-left {
            0% {
                -moz-transform: translateX(100%);
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%);
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
            }
        }

/* END OF MARQUEE STYLES */

.eat .container{
	display: none;
}

.about-img{
	width: 70%;
	display: block;
	margin: 2em auto;
}

.moi-mobile{
	width: 100%;
	display: block;
	margin: 2em auto;
}

.title-link{
	font-size: 0.8em;
	font-weight: 700;
	text-align: center;
	top: 1em;
	font-family: "Space Mono", sans-serif;
	color: #F86653;
	width: 100%;
	display: block;
}
	
.title-link:link{
	text-decoration: none;
}
	
.title-link:visited{
	font-weight: 700;
	color: #F86653;
}

.title-link:hover{
	color: #6A94FF;
}
	
.title-link:active{
	color: #FFC9C2;
}



/* END ABOUT STYLES */

/* FRIENDS STYLES */

.friends h1{
	text-align: center;
}

/* END OF FRIENDS STYLES */


/* PLAY STYLES */

.play h1{
	text-align: center;
	margin-top: 3em;
}

.play p{
	text-align: center;
}

.play-img{
	width: 85%;
	margin: 1.5em auto;
	display: block;
}

/* END OF PLAY STYLES */

/* PROJECT PAGE STYLES */

.project-role{
	width: 27%;
	display: inline-block;
}


.project-role h5, .project-details h5, .nix-project-details h5{
	font-family: 'Space Mono', sans-serif;
	font-size: 0.8em;
	color: #F7734F;
	text-transform: lowercase;
	margin-bottom: -0.85em;
}

.project-role p, .project-details p, .nix-project-details p{
	font-size: 0.8em;
}

.project-page h3{
	font-family: "Epilogue", sans-serif;
	font-weight: 500;
	font-size: 1.1em;
	margin-bottom: -0.3em;
	color: #383838;		
}

.feature-title{
	font-family: "Epilogue", sans-serif;
	font-weight: 500;
	font-size: 1.2em;
	color: #383838;	
}


.project-page-title{
	font-family: 'Space Mono', sans-serif;
	color: white;
	background-color: #F7734F;
	padding: 1em;
}

.bolded{
	font-weight: 600;
}

.project-page-img{
	width: 100%;
	margin: 2em 0;
}


.postcard-page-img{
	width: 100%;
	margin: 1em 0;
}

.persona-img{
	width: 100%;
	display: block;
}

.project-page a{
	font-weight: 700;
	text-decoration: none;
	font-family: "Space Mono", sans-serif;
}

.project-page a:link{
	color: #F86653;
}

.project-page a:visited{
	color: #F86653;
}

.project-page a:hover{
	color: #6A94FF;
}

.project-page a:active{
	color: #FFC9C2;
}


.gif-30-mob{
	width: 30%;
	margin: 0 auto;
	display: block;
	margin-top: 2.5em;
}

.features-large{
	display: none;
}


.project-details a{
	color: black;
	font-weight: 300;
}

.m-bottom-4{
	margin-bottom: 4em;
}

/* CONTACT STYLES */


.contact p a:link{
	color: #F86653;
	text-decoration: none;
	font-weight: 700;
	font-family: "Space Mono", sans-serif;
}

.contact p a:visited{
	color: #F86653;
}

.contact p a:hover{
	color: #6A94FF;
}

.contact p a:active{
	color: #FFC9C2;
}

.contact p{
	width: 78%;
	margin: 0 auto;
}


/* END OF CONTACT STYLES */

/* END OF PROJECT PAGE STYLES */



@media	only	screen	and	(min-width:	35em)	{ 

div.box-pr1-1, div.box-pr2-1, div.box-pr3-1, div.box-pr4-1, div.box-pr5-1, div.box-pr6-1{
	height: 22em;
}


}

@media	only	screen	and	(min-width:	45em)	{ 

.mf-box{
	width: 49%;
	display: inline-block;
}

.mf-box p{
	height: 6.5em;
	width: 95%;
}

.about-para{
	width: 67%;
	margin: 1.5em auto;
}

figure{
	width: 35%;
	display: inline-block;
	vertical-align: top;
	margin-left: 7%;
	margin-right: 7%;
}



/*h1{
	width: 85%;
}*/

}

@media	only	screen	and	(min-width:	47em)	{ 

/*.mf-box p{
	width: 85%;
} */
	
.nix-project-details{
	width: 22%;
	display: table-cell;
	padding-right:2%;
}
	
.project-details{
	width: 36%;
	display: table-cell;
}

.persona-img{
	width: 48%;
	display: inline-block;
	margin-bottom: 1.5em;
}

.circle-gif{
	margin-bottom: -2em;
}

/* PLAY STYLES */

.play-img{
	width: 45%;
	margin: 2%;
	display: inline-block;
}

.better-days{
	vertical-align: top;
}

/* END OF PLAY STYLES */


}


@media	only	screen	and	(min-width:	55em)	{  /* MEDIA QUERY  !!!!!! */

/* GENERAL STYLES */
	
.main-logo{
		width: 65%;
		margin-top: 2em;
}

body{
	padding-bottom: 3em;
	margin-top: 5em;
}

.page-title{
	padding-top: 1em;
}

footer{
	width: 100%;
	position: absolute;
	bottom: -3em;
	left: 0em;
}

.home footer{
	position: relative;
}


.home-header{
	margin-top: -1em;
	margin-bottom: 3em;
}

.circle-gif{
	margin-bottom: -3em;
}

/* NAV STYLES */	


a.menu{
	display: none;
}


.navigation{
	display: inline-block;
	vertical-align: middle;
	width:100%;
	margin-left: -1em;
}

a.logo{
	position: absolute;
	top: 1em;
	left: 1.5em;
}

nav{
	text-align: center;
}

nav ul{
	display: inline-table;
}
	
nav ul li{
		width: 12%;
		text-align: center;
		display: inline-block;
}

nav ul li a{
	font-size: 1em;
}

nav ul li a:link{
	color: #6A94FF;
}

nav ul li a:visited{
	color: #6A94FF;
}

nav ul li a:hover{
	color: #F86653;
}

nav ul li a:active{
	color: #FFF7F6;
}

a.logo:hover{
	background-image: url("../img/logo2.svg");
}

a.logo:active{
	background-image: url("../img/logo3.svg");
}

.star{
	height: 1em;
	width: 1em;
	vertical-align: middle;
	display: inline-block;
	background-image: url("../img/star.svg");
	background-repeat:no-repeat;
}

  /* VALUES */
.value-fig p{
	width: 100%;
}

.value-fig img{
	width: 55%;
}

.all-projects{
	margin-top: -0.5em;
}

/* ABOUT STYLES */

	
.contain-me{
	padding: 2em;	
}

.about-top{
	padding: 1em;
	margin: 0 auto;
	text-align: center;
}	

.about-para{
	width: 90%;
}

.bio{
	width: 45%;
	display: inline-block;
	vertical-align: top;
	margin-left: 4%;
}

.bio p{
	text-align: left;
}

.hobbies{
	margin-top: 0;
}


.mobile-facts{
	display: none;
}

.eat .container{
	display: inline-block;
}

.back, .front{
	cursor: pointer;
}
	
	
div.box-pr1-1, div.box-pr2-1, div.box-pr3-1, div.box-pr4-1, div.box-pr5-1, div.box-pr6-1{
	height: 17em;
}

div.project-box{
	text-align: left;
	width: 100%;
}
	
	.master-div{
		width: 70%;
		margin: 0 auto;
	}
	
.project-page .master-div{
	width: 65%;
}

	
	.back-p{
		line-height: 1.6em;
		text-align: center;
	}
	
	.front, .back{
		text-align: center;
	}
	
/*	.eat-2-back, .eat-5-back, .eat-6-back, .eat-3-back, .eat-4-back, .eat-7-back{
		padding-top: 5.5em;
	} */
	
	.eat-8-back{
		top:1em;
	}

.community-box{
	width: 95%;
	margin-top: 2em;
}

/* FRIENDS STYLES */

.friends h1{
	margin-top: 3em;
}
.friends .title-link:link{
	color: #F86653;
	font-size: 1em;
}
	
.friends .title-link:visited{
	color: #F86653;
}

.friends .title-link:hover{
	color: #6A94FF;
}

.friends .title-link:active{
	color: #FFC9C2;
}

	
/* END OF FRIENDS STYLES */


/* COLORS */


	
	.eat-1 p{
		width: 96%;
		margin: 0 auto;
	}
	
/* WORK STYLES */	

.pro-box{
	width: 45%;
	display: inline-block;
	margin: 0 2% 2em 2%;
}

.pro-1:hover{
	background-image: url("../img/globowl-hover.gif");
	transition: 0.5s;
}

.pro-2:hover{
	background-image: url("../img/tcaf_stationery2.jpg");
	transition: 0.5s;
}

.pro-3:hover{
	background-image: url("../img/nix-hover.gif");
	transition: 0.5s;
}

.pro-4:hover{
	background-image: url("../img/ciyu-hover.gif");
	transition: 0.5s;
}

.pro-5:hover{
	background-image: url("../img/wavelength.png");
	transition: 0.5s;
}

.pro-6:hover{
	background-image: url("../img/afterskool-hover.png");
	transition: 0.5s;
}


footer{
	clear: both;
}
	/* END OF WORK STYLES */
	
/* FRIEND BOX STYES */

.friend-head{
	width: 60%;
	margin-top: 11%;
}

.friends p{
	margin-top: 3px;
}


.eat-2-front{
	background-image: url('../img/emily.jpg');
	background-size: cover;
	background-position: center center;
}

.eat-3-front{
	background-image: url('../img/erika.png');
	background-size: cover;
	background-position: center center;
}

.eat-4-front{
	background-image: url('../img/janet.jpg');
	background-size: cover;
	background-position: center center;
}

.eat-5-front{
	background-image: url('../img/tiffany.jpg');
	background-size: cover;
	background-position: center center;
}

.eat-6-front{
	background-image: url('../img/meagan.png');
	background-size: cover;
	background-position: center center;
}

.eat-7-front{
	background-image: url('../img/jenny.png');
	background-size: cover;
	background-position: center center;
}

.eat-8-front{
	background-image: url('../img/cartoon-me.jpg');
	background-size: cover;
	background-position: center center;
}

.eat-8-back{
	background-image: url('../img/moi2.jpg');
	background-size: cover;
	background-position: center center;
}


.front{
	position: relative;
	height: 10em;
}

.back{
	position: relative;
	height: 100%;
}

.back-p{
	margin: 1em;	
}

/* END FACT BOX STYLES */	
	


/* DIV FLIP STYLES */	


	.container{
		position: relative;
		width: 44.5%;
		height: 20em;
		margin: 0.9em;
		display: inline-block;
	}
	
	.container.click-effect.flipped.first{
		margin-top:2em;
	}
	
	.about .moi{
		height: 28em;
		width: 45%;
	}
	
	
	.front, .back{
		display: inline-block;
		width: 100%;
		height: 100%;
		position: absolute;
	}
	
	.front, .back{
  		-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
  		-webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
	}

	.front{
	  	-webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
	}
	

	.container.click-effect.flipped .back {
  		 -webkit-transform: rotateY(-180deg);
         transform: rotateY(-180deg);
	}

	.container.click-effect.flipped .front {
  		  -webkit-transform: rotateY(0);
          transform: rotateY(0);
	}
	
	
			/* END DIV FLIP STYLES */

/* CONTACT STYLES */



/* END OF CONTACT STYLES */

	
}


@media	only screen	and	(min-width:	58em)	{

.feature-p{
	width: 55%;
	display: inline-block;
	margin-left: 5%;
}

.feature-title{
	line-height: 3em;
}

.features-large{
	display: block;
}

.features-mob{
	display: none;
}
	
.feature-box{
	position: relative;
	margin-top: 2em;
}

.feature-p-right{
	position: absolute;
	top: 10%;
	width: 50%;
	right: 7%;
}

.feature-p-left{
	position: absolute;
	top: 10%;
	width: 50%;
	left: 0%;
}

.gif-right{
	padding-left: 60%;
}
	
.gif-35{
	width: 35%;
}

figure{
	width: 40%;
	margin: 0.2em 4.5%;
}


/* FRIEND BOX STYES */

.friend-head{
	width: 50%;
	margin-top: 15%;
}




}
	
	
@media	only screen	and	(min-width:	75em)	{	
.container{
		width: 28%;
}

.eat .master-div{
	width: 77%;
}

.about-para{
	width: 70%;
}

.rec-box{
	width: 70%;
}
	
.contact p{
	width: 75%;
}
.wave{
	width: 26%;
}

figure img{
	width: 50%;
}

.about .moi{
	margin-left: 1.5em;
}

.pro-box{
	width: 28%;
	display: inline-block;
	margin: 0 2% 2em 2%;
}

.pro-img{
	height: 15em;
}

.hide-box{
	display: none;
}
	

}
		
		
@media	only screen	and	(min-width:	85.375em)	{



.master-div{
		width: 75%;
}

.project-page .master-div{
	width: 63%;
}
	
.container{
		width: 30%;
}
	
.main-logo{
		width: 50%;
}
	
header{
	right: -6%;
}

div.project-box{
	height: 100%;
}	

div.project-square{
	height: 25em;	
}

div.box-3, div.box-6, div.box-7{
	width: 40%;
	height: 13.5em;
}


div.box-4, div.box-5, div.box-8{
	width: 42%;
	height: 11.5em;
}

div.box-see-1, div.box-eat-1, div.box-do-1{
	background-position: center center;
}
.wave{
	width: 22%;
}

figure{
	width: 20%;
	margin: 0.5em 2.35%;
}

figure p{
	margin-bottom: 1em;
}



}

@media	only screen	and	(min-width:	90em)	{

body{
	margin: 0 auto;
}

.home-header{
	margin-top: 4em;
}

.master-div{
	margin-top: 5em;
}

/* PLAY STYLES */

.play-img{
	width: 30%;
	margin: 1%;
	display: inline-block;
}

}


@media print {
  .main-logo, nav, footer, .icons, .box-eat-2, .box-see-2, .box-do-2, .front{
  	display: none;
  }
  
  div.box-4, div.box-5, div.box-8{
  	border: none;
  }
	
  
  
  	.back{
	  	-webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        border: none;
	}


	.container.click-effect.flipped .back {
  		  -webkit-transform: rotateY(0);
          transform: rotateY(0);
	}
  
  
}
